body {
  font-size: 16px;
  color: #701409;
  font-family: 'Oxygen', sans-serif;
}
section {
	padding-right: 15px;
	padding-left: 15px;
	margin-bottom: 30px;
}
section p {
	margin-top: 20px;
}
h1, h3 {
	font-weight: bold;
}
/** HEADER **/
#header-nav {
  border-radius: 0;
  border: 0;
  min-height: 100px;
  background-color: gray;
}
#header-nav h1 {
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
}
.navbar-brand {
  padding-top: 10px;
}
.icon-bar {
	border: 2px solid #701409;
}
#company-name h1 {
	color: #701409;
}
#company-name a {
	text-decoration: none;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: 40px;
}
#nav-list {
	margin-bottom: 0;
	margin-top: 0;
}
#nav-list a {
	background-color: #701409;
	font-size: 1.3em;
	border: 1px solid #fff;
	color: #fff;
}
#nav-list a:hover {
	background-color: #f43;
}
#section-items section {
	background-color: gray;
	color: #000;
}
#header-text {
	margin-bottom: 40px;
}