body {
  font-size: 16px;
  color: #701409;
  background-color: #D9D9D9;  /*Aluminium color*/
  font-family: 'Oxygen', sans-serif;
}
/** HEADER **/
#header-nav {
  border-radius: 0;
  border: 0;
  min-height: 100px
}
#header-nav h1 {
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
}
.navbar-brand {
  padding-top: 10px;
}
#company-name h1 {
	color: #701409;
}
#company-name a {
	text-decoration: none;
}
.navbar-toggle {
	margin-top: 40px;
}
#nav-list {
	background-color: #701409;
	font-size: 1.3em;
	margin-top: 0;
	margin-bottom: 0;
}
#nav-list a {
	color: #fff;
}
#nav-list li:hover {
	background-color: #f43;
}
#section-items section {
	background-color: gray;
	color: #000;
}
#header-text {
	margin-bottom: 40px;
}