body {
  font-size: 1.4em;
  background-color: #f0f8ff;
}

body > div {
	margin-top: 100px;
	margin-left: 20%;
}

div + div {
	margin-top: 50px;
}

button {
	margin-top: 20px;
}

label {
	font-size: 0.8em;
	color: #000080;
	margin-left: 30px;
}

div > div:nth-child(2) {
	color: #4b0082;
	font-size: 1em;
}

.green-class {
	color: green;
	border: 1px solid green;
}

.red-class {
	color: red;
	border: 1px solid red;
}

.default-class {}
